@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

@media screen and (min-width: 900px) {
  body {
    background-image: url("../undraw_blank_canvas_3rbb.png");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
  }
  body * {
    display: none !important;
  }
}
* {
  font-family: "Roboto", sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}
.details {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
}
.price {
  display: flex;
  justify-content: space-between;
}
.post {
  display: flex;
  width: 90vw;
  height: 20vh;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 2px #c4bfbf4d;
  margin: 10px;
}
.post .post-image {
  width: 40%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
