@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");
.post img {
  max-width: 100%;
}

.post .details {
  padding: 5px;
}

.sell a {
  color: inherit;
  font-size: x-large;
}
.main,
.container {
  margin-bottom: 70px;
}
.details h5 {
  display: flex;
  justify-content: space-between;
}
.post {
  margin-bottom: 20px;
}
@media screen and (min-width: 900px) {
  body {
    background-image: url("../undraw_blank_canvas_3rbb.png");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
  }
  body * {
    display: none !important;
  }
}
.img {
  background-position: center;
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
}
