@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@media screen and (min-width: 900px) {
  body {
    background-image: url("../undraw_blank_canvas_3rbb.png");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
  }
  body * {
    display: none !important;
  }
}
* {
  font-family: "Roboto", sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}
.details {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
  padding: 5px;
}
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post {
  display: flex;
  width: 90vw;
  height: 20vh;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 2px #c4bfbf4d;
  margin: 10px;
}
.post .post-image {
  width: 40%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.post .details h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}
.post .details p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #5e5d5d;
}
.post .details .price h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin: 0;
}
.button {
  background: #f27920;
  border-radius: 3px;
  padding: 5px 15px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  border: none;
}
.button:hover {
  background: #f27920;
}