@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

nav * {
  font-family: "Raleway", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
